.footer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 2rem;

  &__menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    &-link{
      text-decoration: none;
    }
  }
  &__copy{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
  }
}